<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID: {{orderDetail.Id}}</p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-10 col-md-6 mb-lg-0 mb-15">
                        <span> <i class="material-icons md-calendar_today"></i> <b>{{orderDate}}</b> </span> <br />
                        <small class="text-muted">Order ID: {{orderDetail.OrderNumber}}</small>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-6 ms-auto text-md-end">
                        @if(userRole === appConstants.userRole.admin) {
                            
                            <select
                                class="form-select d-inline-block mw-200 me-2"
                                [(ngModel)]="selectedPayment"
                            >
                                <option value="">Payment</option>
                                <option *ngFor="let pay of payment" [value]="pay.value">
                                {{ pay.label }}
                                </option>
                            </select>
                            <select
                                class="form-select d-inline-block mb-lg-0 mr-5 mw-200"
                                [(ngModel)]="selectedStatus"
                                >
                                <option value="">Change status</option>
                                
                                <option
                                *ngFor="let status of orderStatuses"
                                [value]="status.value"
                                >
                                {{ status.label }}
                                </option>
                            </select>
                        
                            <!-- Assign Delivery Man -->
                            <select
                                class="form-select d-inline-block mw-200 me-2"
                                [(ngModel)]="selectedDeliverymanId"
                            >
                                <option value="">Assign delivery</option>
                                @if(deliveryMen) {
                                    <option *ngFor="let man of deliveryMen" [value]="man.id">
                                    {{ man.name }}
                                    </option>
                                }
                            </select>
                        
                        }

                        @if(userRole === appConstants.userRole.deliveryBoy) {
                            <select
                                class="form-select d-inline-block mw-200 me-2"
                                [(ngModel)]="selectedPayment"
                            >
                                <option value="">Payment</option>
                                <option *ngFor="let pay of payment" [value]="pay.value">
                                {{ pay.label }}
                                </option>
                            </select>
                            <select
                                class="form-select d-inline-block mb-lg-0 mr-5 mw-200"
                                [(ngModel)]="selectedStatus"
                                >
                                <option value="">Change status</option>
                                
                                <option
                                *ngFor="let status of orderStatuses"
                                [value]="status.value"
                                >
                                {{ status.label }}
                                </option>
                            </select>
                        }
                        
                        @if(userRole === appConstants.userRole.deliveryBoy || userRole === appConstants.userRole.admin) {
                            <button class="btn btn-primary" [disabled]="!selectedStatus && !selectedPayment && !selectedDeliverymanId" (click)="saveOrderStatus()" href="javascript:void(0)">Save</button>
                        }
                        <a class="btn btn-secondary print ms-2" (click)="printPdf(orderDetail)" href="javascript:void(0)"><i class="icon material-icons md-print"></i></a>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                @if (user) {
                                    <p class="mb-1">
                                        {{user.name}} <br />
                                        {{user.email}}<br />
                                        {{user.phoneNumber}}
                                    </p>
                                }
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div>
                    <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    <!-- Shipping: Fargo express <br /> -->
                                    Pay method: {{orderDetail.PaymentMethod}} <br />
                                    <!-- Status: new -->
                                </p>
                                <!-- <a href="#">Download info</a> -->
                            </div>
                        </article>
                    </div>
                    <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    {{orderDetail.ShippingAddress}} <br />
                                </p>
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div>
                    <!-- col// -->
                </div>
                <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     @for (item of products(); track item) {
                                        <tr class="pt-30">

                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img [src]="item.ThumnailImage" width="40" height="40" class="img-xs" alt="Item" />
                                                    </div>
                                                    <div class="info">{{ item.ProductName }}</div>
                                                </a>
                                            </td>
                                            <td>${{ item.UnitPrice }}</td>
                                            <td>{{ item.Quantity }}</td>
                                            <td class="text-end">${{ item.UnitPrice * item.Quantity }}</td>
                                        </tr>
                                    } @empty {
                                        <li>No Products available...</li>
                                    }
                                    <tr>
                                        <td colspan="4">
                                            <article class="float-end">
                                                <dl class="dlist">
                                                    <dt>Subtotal:</dt>
                                                    <dd>${{ subTotal() }}</dd>
                                                </dl>
                                                <!-- <dl class="dlist">
                                                    <dt>Shipping cost:</dt>
                                                    <dd>$10.00</dd>
                                                </dl> -->
                                                <dl class="dlist">
                                                    <dt>Grand total:</dt>
                                                    <dd><b class="h5">${{ total() }}</b></dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt class="text-muted">Status:</dt>
                                                    @if(orderDetail.Status === appConstants.orderStatus.Shipped || orderDetail.Status === appConstants.orderStatus.Delivered) {
                                                        <dd>
                                                            <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                        </dd>
                                                    } @else if(orderDetail.Status === appConstants.orderStatus.Pending || orderDetail.Status === appConstants.orderStatus.Processing) {
                                                        <dd>
                                                            <span class="badge rounded-pill alert-warning text-warning">Pending payment</span>
                                                        </dd>
                                                    } @else {
                                                        <dd>
                                                            <span class="badge rounded-pill alert-danger text-danger">Payment failed</span>
                                                        </dd>
                                                    }
                                                </dl>
                                            </article>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive// -->
                    </div>
                    <!-- col// -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <div class="box shadow-sm bg-light">
                            <!-- <h6 class="mb-15">Payment info</h6>
                            <p>
                                <img src="assets/imgs/card-brands/2.png" class="border" height="20" /> Master Card **** **** 4768 <br />
                                Business name: Grand Market LLC <br />
                                Phone: +1 (800) 555-154-52
                            </p> -->
                        </div>
                        <div class="h-25 pt-4">
                            <div class="mb-3">
                                <label>Notes</label>
                                <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                            </div>
                            <button class="btn btn-primary">Save note</button>
                        </div>
                    </div>
                    <!-- col// -->
                </div>
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
    </section>
</main>
