<header class="main-header style-2 navbar">
    <div class="col-brand">
        <a href="javascript:void(0)" class="brand-wrap">
            <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
        </a>
        @if(isMobile) {
            <button class="btn btn-icon btn-aside-minimize" (click)="openAside()"><i class="text-muted material-icons md-menu_open"></i></button>
        }
    </div>
    <div class="col-nav">
        <div *ngIf = "!(isLoggedIn | async)">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon" href="/login">
                        <i class="material-icons md-login"></i>
                        <span style="margin-top: 0px;width: 46px;position: absolute;">{{'SIGNIN'| translate}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="nav" *ngIf = "(isLoggedIn | async)">
            <li class="nav-item">
                <a class="nav-link btn-icon" href="javascript:void(0)">
                    <i class="material-icons md-notifications animation-shake"></i>
                    <span class="badge rounded-pill">3</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-icon darkmode" href="javascript:void(0)"> <i class="material-icons md-nights_stay"></i> </a>
            </li>
            <li class="nav-item">
                <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                    <a class="dropdown-item text-brand" id="en" (click)="changeLanguage('en', $event)" href="javascript:void(0)"><img src="assets/imgs/theme/flag-us.png" alt="English" />English</a>
                    <a class="dropdown-item" id="fr" (click)="changeLanguage('fr', $event)" href="javascript:void(0)"><img src="assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                </div>
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png" alt="User" /></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="route('profile', apiToken)"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="route('profile', apiToken)"><i class="material-icons md-settings"></i>Account Settings</a>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="material-icons md-receipt"></i>Billing</a>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="material-icons md-help_outline"></i>Help center</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" (click)="signout()" href="javascript:void(0)"><i class="material-icons md-exit_to_app"></i>Logout</a>
                </div>
            </li>
        </ul>
    </div>
</header>
<aside class="navbar-aside" id="offcanvas_aside" *ngIf = "(isLoggedIn | async)">
    <div class="aside-top">
        <a href="#" class="brand-wrap">
            <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    @if (apiToken.user_permission === appConstants.userType.admin) {
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="javascript:void(0)" (click)="route('dashboard', apiToken)">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">{{"DASHBOARD.NAME"|translate}}</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="javascript:void(0)">
                        <i class="icon material-icons md-add_shopping_cart"></i>
                        <span class="text">{{"PRODUCTS.MANAGEPRODUCTS"|translate}}</span>
                    </a>
                    <div class="submenu">
                        <a href="javascript:void(0)" (click)="route('products', apiToken)">{{"PRODUCTS.PRODUCTLIST"|translate}}</a>
                        <a href="javascript:void(0)" (click)="route('categories', apiToken)">{{"PRODUCTS.CATEGORIES"|translate}}</a>
                        <a href="javascript:void(0)" (click)="route('categories/sub-category', apiToken)">{{"PRODUCTS.SUBCATEGORY"|translate}}</a>
                        <a href="javascript:void(0)" (click)="route('categories/child-category', apiToken)">{{"PRODUCTS.CHILDCATGEORY"|translate}}</a>
                        <a href="javascript:void(0)" (click)="route('brands', apiToken)">{{"PRODUCTS.BRANDS"|translate}}</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="javascript:void(0)">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">{{"ORDERS.MANAGEORDERS"|translate}}</span>
                    </a>
                    <div class="submenu">
                        <a href="javascript:void(0)" (click)="route('orders', apiToken)">{{"ORDERS.ORDERSLIST"|translate}}</a>
                    </div>
                </li>
            </ul>
            <hr />
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="javascript:void(0)">
                        <i class="icon material-icons md-settings"></i>
                        <span class="text">{{"SETTINGS.NAME"|translate}}</span>
                    </a>
                    <div class="submenu">
                        <a (click)="route('profile', apiToken)" href="javascript:void(0)">{{"SETTINGS.PROFILE"|translate}}</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="javascript:void(0)">
                        <i class="icon material-icons md-face"></i>
                        <span class="text">{{"USERS.NAME"|translate}}</span>
                    </a>
                    <div class="submenu">
                        <a (click)="route('users', apiToken)" href="javascript:void(0)">{{"USERS.USERSLIST"|translate}}</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="javascript:void(0)">
                        <i class="icon material-icons md-store_mall_directory"></i>
                        <span class="text">{{"VENDORS.NAME"|translate}}</span>
                    </a>
                    <div class="submenu">
                        <a (click)="route('vendors', apiToken)" href="javascript:void(0)">{{"VENDORS.VENDORSLIST"|translate}}</a>
                    </div>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    } @else if(apiToken.user_permission === appConstants.userType.vendor) {
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="javascript:void(0)" (click)="route('dashboard', apiToken)">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">{{"DASHBOARD.NAME"|translate}}</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="javascript:void(0)">
                        <i class="icon material-icons md-add_shopping_cart"></i>
                        <span class="text">{{"PRODUCTS.MANAGEPRODUCTS"|translate}}</span>
                    </a>
                    <div class="submenu">
                        <a href="javascript:void(0)" (click)="route('products', apiToken)">{{"PRODUCTS.PRODUCTLIST"|translate}}</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="javascript:void(0)">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">{{"ORDERS.MANAGEORDERS"|translate}}</span>
                    </a>
                    <div class="submenu">
                        <a href="javascript:void(0)" (click)="route('orders', apiToken)">{{"ORDERS.ORDERSLIST"|translate}}</a>
                    </div>
                </li>
            </ul>
            <hr />
            <ul class="menu-aside">
                 <li class="menu-item has-submenu">
                    <a class="menu-link" href="javascript:void(0)">
                        <i class="icon material-icons md-settings"></i>
                        <span class="text">{{"SETTINGS.NAME"|translate}}</span>
                    </a>
                    <div class="submenu">
                        <a (click)="route('profile', apiToken)" href="javascript:void(0)">{{"SETTINGS.PROFILE"|translate}}</a>
                    </div>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    } @else if(apiToken.user_permission === appConstants.userType.deliveryBoy) {
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="javascript:void(0)" (click)="route('dashboard', apiToken)">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">{{"DASHBOARD.NAME"|translate}}</span>
                    </a>
                </li>
            </ul>
            <hr />
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="javascript:void(0)">
                        <i class="icon material-icons md-settings"></i>
                        <span class="text">{{"SETTINGS.NAME"|translate}}</span>
                    </a>
                    <div class="submenu">
                        <a (click)="route('profile', apiToken)" href="javascript:void(0)">{{"SETTINGS.PROFILE"|translate}}</a>
                    </div>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    } @else {
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="javascript:void(0)" (click)="route('dashboard', apiToken)">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">{{"DASHBOARD.NAME"|translate}}</span>
                    </a>
                </li>
            </ul>
            <hr />
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="javascript:void(0)">
                        <i class="icon material-icons md-settings"></i>
                        <span class="text">{{"SETTINGS.NAME"|translate}}</span>
                    </a>
                    <div class="submenu">
                        <a (click)="route('profile', apiToken)" href="javascript:void(0)">{{"SETTINGS.PROFILE"|translate}}</a>
                    </div>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    }
</aside>