<main class="main-wrap">
    <section class="content-main">
        <form [formGroup]="productForm">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        @if(!editFlow) {
                            <h2 class="content-title">Add New Product</h2>
                        } @else {    
                            <h2 class="content-title">Edit Product</h2>
                        }
                        <div>
                            <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                            @if(!editFlow) {
                                <button class="btn btn-md rounded font-sm hover-up" (click)="saveProduct()">Save</button>
                            } @else {    
                                <button class="btn btn-primary btn-md rounded font-sm hover-up" (click)="editProduct()">Edit</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Name</label>
                                <input type="text" placeholder="Type here" formControlName="Name" class="form-control" id="product_name" />
                            </div>
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Slug</label>
                                <input type="text" placeholder="Type here" formControlName="Slug" class="form-control" id="product_slug" />
                            </div>
                            <!-- <div class="mb-4 row">
                                <div class="col-lg-4">
                                    <label class="form-label">Category</label>
                                    <select formControlName="Category" class="form-select">
                                        <option>Select Category</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label">Sub-Category</label>
                                    <select formControlName="SubCategory" class="form-select">
                                        <option>Select Sub Category</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label">Child Category</label>
                                    <select formControlName="ChildCategory" class="form-select">
                                        <option>Select Child Category</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="mb-4">
                                <label class="form-label">Brand</label>
                                <input placeholder="Type here" formControlName="Brand" class="form-control"/>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">SKU</label>
                                <input placeholder="Type here" formControlName="SKU" class="form-control" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Regular price</label>
                                <input placeholder="Type here" formControlName="Price" class="form-control" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Offer Price</label>
                                <input placeholder="Type here" formControlName="OfferPrice" class="form-control" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Stock Quantity</label>
                                <input type="text" placeholder="0" formControlName="StockQuantity" class="form-control" id="stock_qty" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Weight</label>
                                <input type="text" placeholder="0" formControlName="Weight" class="form-control" id="stock_qty" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Short description</label>
                                <textarea placeholder="Type here" formControlName="ShortDescription" class="form-control" rows="4"></textarea>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" formControlName="LongDescription" class="form-control" rows="4"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4" formGroupName="Highlight">
                                        <label class="form-label">Highlight</label>
                                        <div class="row gx-2">
                                            <section class="example-section">
                                                <mat-checkbox class="example-margin" formControlName="TopProduct">Top Product</mat-checkbox>
                                                <mat-checkbox class="example-margin" formControlName="NewArrival">New Arrival</mat-checkbox>
                                                <mat-checkbox class="example-margin" formControlName="BestProduct">Best Product</mat-checkbox>
                                                <mat-checkbox class="example-margin" formControlName="FeaturedProduct">Featured Product</mat-checkbox>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Status</label>
                                <select formControlName="Status" class="form-select">
                                    <option>Select Status</option>
                                    <option value="1">Active</option>
                                    <option value="0">In Active</option>
                                </select>
                                <!-- Active <mat-slide-toggle class="example-margin">
                                    In Active
                                </mat-slide-toggle> -->
                            </div>
                            
                            <div class="mb-4">
                                <label class="form-label">SEO Title</label>
                                <input placeholder="Type here" formControlName="SEOTitle" class="form-control" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">SEO Description</label>
                                <input placeholder="Type here" formControlName="SEODescription" class="form-control" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Specification</label>
                                <div>
                                    Disabled
                                    <mat-slide-toggle formControlName="SpecificationStatus" class="example-margin">
                                        Enabled
                                    </mat-slide-toggle>
                                </div>
                                <div *ngIf="productForm.controls['SpecificationStatus'].value">
                                    <ng-container formArrayName="Specifications">
                                        <ng-container *ngFor="let specification of Specifications.controls; let i = index" [formGroupName]="i">
                                            <div class="lesson-form-row">
                                                <mat-form-field appearance="fill">
                                                    @if(SpecificationsKeysList  && SpecificationsKeysList.length > 0) {
                                                        <mat-select formControlName="key"
                                                                placeholder="key">
                                                            <mat-option *ngFor="let specKey of SpecificationsKeysList" [value]="specKey">{{specKey}}</mat-option>
                                                        </mat-select>
                                                    } @else {
                                                        <input matInput
                                                               formControlName="key"
                                                               placeholder="key">
                                                    }
                                                </mat-form-field>
                                                <mat-form-field appearance="fill">
                                                    <input matInput
                                                           formControlName="specification"
                                                           placeholder="specification">
                                                </mat-form-field>
                                                <button mat-mini-fab (click)="deleteSpecification(i)">
                                                    <i class="icon material-icons md-delete_sweep"></i>
                                                </button>
                                            </div>
                                        </ng-container>
                                        <button mat-mini-fab (click)="addSpecification()">
                                            <i class="icon material-icons md-library_add"></i>
                                        </button>
                                    </ng-container>
                                </div>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                    <!-- card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img [src]="imgSrc" alt="" />
                                <input formControlName="File" (change)="onFileSelected($event)" class="form-control" type="file" />
                            </div>
                        </div>
                    </div>
                    <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Organization</h4>
                        </div>
                        <div class="card-body">
                            <div class="row gx-2">
                                <div class="mb-4 row">
                                    <div class="col-lg-12">
                                        <label class="form-label">Category</label>
                                        <select formControlName="Category" class="form-select" (change)="onCategorySelected($event)">
                                            <option *ngFor="let category of categories" [value]="category.Id">
                                                {{ category.Name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-4 row" *ngIf="hideSubCategory()">
                                    <div class="col-lg-12">
                                        <label class="form-label">Sub-Category</label>
                                        <select formControlName="SubCategory" class="form-select" (change)="onSubCategorySelected($event)">
                                            <option *ngFor="let subCategory of subCategories" [value]="subCategory.Id">
                                                {{ subCategory.Name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-4 row" *ngIf="hideChildCategory()">
                                    <div class="col-lg-12">
                                        <label class="form-label">Child Category</label>
                                        <select formControlName="ChildCategory" class="form-select" (change)="onchildCategorySelected($event)">
                                            <option *ngFor="let childCategory of childCategories" [value]="childCategory.Id">
                                                {{ childCategory.Name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- row.// -->
                             <div class="row gx-2">
                                <div class="mb-4 row">
                                    <div class="col-lg-12">
                                        <label class="form-label">Vendor</label>
                                        <select formControlName="Vendor" class="form-select" (change)="onVendorSelected($event)">
                                            <option *ngFor="let vendor of vendors" [value]="vendor.Id">
                                                {{ vendor.Name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card end// -->
                </div>
            </div>
        </form>
    </section>
</main>
