<section class="content-main mt-80 mb-80">
    <div class="card mx-auto card-login">
        <div class="card-body">
            <h4 class="card-title mb-4">Forgot password</h4>
            <form [formGroup]="forgotForm">
                @if(!otpSent || verified) {
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input formControlName="email" class="form-control" placeholder="Your email" type="text" />
                    </div>
                }
                @if(!otpSent) {
                    <div>
                        <button (click)="sendOtp()" class="btn btn-primary w-100">Send OTP</button>
                    </div>
                }
                @if(otpSent && !verified) {
                    <div class="mb-3">
                        <input formControlName="otp" class="form-control" placeholder="Enter OTP" type="text" />
                    </div>
                    <div><button (click)="verifyOtp()" class="btn btn-primary w-100">Verify OTP</button></div>
                }
                <!-- form-group// -->
                @if(verified) {
                    <div class="mb-3">
                        <label class="form-label">Reset password</label>
                        <input formControlName="password" class="form-control" placeholder="Password" type="password" />
                    </div>
                    <!-- form-group// -->
                    <div class="mb-4">
                        <button (click)="submit()" [disabled]="forgotForm.invalid" type="submit" class="btn btn-primary w-100">reset</button>
                    </div>
                }
                <!-- form-group// -->
            </form>
            <p class="text-center mb-2">Already remember an account? <a href="/login">Sign in now</a></p>
        </div>
    </div>
</section>
