.category-table {
    min-width: 95%;
    margin: 1rem;
}

.content-header-btn {
    display: flex;
    flex-direction: row;
    a {
        margin-left: 0.5rem;
    }
}
.content-action-btn {
    a {
        margin-left: 0.5rem;
    }
}